.pane {
    background-color: aqua; 
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.settingsPane {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    margin: 40px 20px 0 40px;
}

.buttonPane {
    background-color: firebrick;
    display: flex;
    margin: 0 20px 0 40px;
    justify-content: flex-end;
}
