/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.app-wrapper {
    display: grid;
    grid-template-areas: "n h"
                         "n c";
    grid-template-rows: 1fr 14fr;
    grid-template-columns: 2fr 10fr;
}